:root {
  --color-white: #ffffff;
  --color-primary: #6d31ee;
  --color-primary_shade: #4f28a5;
  --color-primary_light: #aa9dfa;
  --color-light_color: #e6e8ec;
  --color-text_gray: #a1a6b4;
  --color-shade_gray: #d2d5dd;
  --color-light_color_40: rgba(230, 232, 236, 0.4);
  --color-black: #121723;
  --color-light_black: #292e39;
  --color-red: #ff6f6f;
  --color-promo_color: #f0d288;
  --color-promo_color_shade: #bb973e;

  --gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.page {
  font-family: "Muller", "sans-serif";
  font-weight: 400;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

/* header */

.header {
  padding-top: 31px;
  padding-bottom: 31px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom {
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 59px;
}

.header__link {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--color-black);
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.header__link:focus {
  outline: none;
  color: var(--color-white);
}

.header__link:focus::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: 0px;
  left: -3px;
  background-color: var(--color-primary_light);
  z-index: -1;
}

.header__link:hover::before {
  background-color: transparent;
}

.header__link:hover {
  color: var(--color-primary);
}

.header__link:active {
  color: var(--color-primary_shade);
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 81px;
}

.header__search {
  outline: none;
}

.header__search path {
  stroke: var(--color-primary);
  transition: stroke 0.3s ease-in-out;
}

.header__search:focus path,
.header__search:hover path {
  stroke: var(--color-primary_light);
}

.header__search:active path {
  stroke: var(--color-primary_shade);
}

/* hero */

.hero__image {
  background-image: url("../img/hero-microphone.png");
  background-size: 31%;
  background-position: 98% 25px;
  background-repeat: no-repeat;
}

.hero__content {
  padding-top: 96px;
  padding-bottom: 94px;
}

.hero__logo {
  margin-bottom: 13px;
  padding-left: 5px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 47px;
  width: 635px;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
}

.hero__btn {
  padding: 22px 52px;
  background-color: var(--color-primary);
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border: 2px solid transparent;
  color: var(--color-white);
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.hero__btn:focus {
  background: var(--color-primary_light);
  border-color: var(--color-primary_shade);
}

.hero__btn:hover {
  background-color: var(--color-primary_light);
  border-color: transparent;
}

.hero__btn:active {
  background-color: var(--color-primary_shade);
}

/* podcasts */

.podcasts {
  padding: 95px;
  background-color: var(--color-light_color);
}

.podcasts__title {
  margin-bottom: 29px;
}

.podcasts__list {
  --offset: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.podcasts__item {
  width: calc((100% - (var(--gap) * var(--offset))) / (var(--offset) + 1));
  height: 140px;
}

.podcasts__card {
  display: flex;
}

.podcasts__image {
  position: relative;
  width: 112px;
  height: 140px;
  flex-shrink: 0;
}

.podcasts__date {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 51px;
  height: 16px;
  padding: 3px 6px;
  font-size: 10px;
  line-height: 10px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.podcasts__content {
  padding: 38px 30px;
  width: 100%;
  background-color: var(--color-white);
}

.podcasts__time {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-black);
}

.podcasts__heading {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.podcasts__avtor {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-text_gray);
}

/* broadcasts */

.broadcasts {
  padding-top: 108px;
  padding-bottom: 108px;
}

.broadcasts__title {
  position: relative;
  padding-right: var(--gap);
  top: -13px;
}

.broadcasts__wrapper {
  display: flex;
  gap: var(--gap);
}

.broadcasts__side {
  display: flex;
  flex-direction: column;
  width: 255px;
  min-height: 550px;
}

.side__bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.broadcast__decor {
  margin-top: auto;
  margin-bottom: 24px;
  width: 65px;
  height: 89px;
  background-image: url("../img/broadcast-mic.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.broadcasts__btn {
  margin-bottom: 11px;
  padding: 11px 56px;
  border: 2px solid var(--color-black);
  border-radius: 77px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.broadcasts__btn:focus {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary_light);
}

.broadcasts__btn:hover {
  color: var(--color-white);
  border-color: #aa9dfa;
  background-color: var(--color-primary_light);
}

.broadcasts__btn:active {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.side__bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text_gray);
}

.broadcasts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.broadcasts__item {
  display: flex;
  flex-direction: column;
  width: 255px;
  min-height: 260px;
  border: 1px solid var(--color-light_color);
}

.broadcasts__card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
}

.broadcast__image {
  object-fit: cover;
}

.broadcasts__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.broadcasts__schedule {
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text_gray);
}

.broadcasts__link {
  margin-top: auto;
  position: relative;
  outline: none;
}
