:root{
    --color-white: #ffffff;
    --color-primary: #6D31EE;
    --color-primary_shade: #4F28A5;
    --color-primary_light: #AA9DFA;
    --color-light_color: #E6E8EC;
    --color-text_gray: #A1A6B4;
    --color-shade_gray: #D2D5DD;
    --color-light_color_40: rgba(230, 232, 236, 0.4);
    --color-black: #121723;
    --color-light_black: #292E39;
    --color-red: #FF6F6F;
    --color-promo_color: #F0D288;
    --color-promo_color_shade: #BB973E;
}